# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
ant-properties.xml
proguard-rules.pro
*.keystore
*.jks
*.apk
*.aab

# Node.js
node_modules/
npm-debug.log
.env
.env.production
dist/

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Firebase local / credentials
.firebase/
functions/serviceAccount.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Scratch and Temporary files
scratch/
*.csv
*.json

# Specific project folders
DDI_REGISTRO_IMED_PREDICTOR/
