<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pato.imedsport">

    <!-- EMBEDDING V2: DEBUG MANIFEST -->
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>
    </application>
</manifest>
